{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url('{% static "student.jpg" %}');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <h1>Profile</h1>
    <form action="" method="post">
        {% csrf_token %}
        First Name <input type="text"name="fname" value="{{ details.first_name}}"><br><br>
        Last Name <input type="text"name="lname" value="{{ details.last_name}}"><br><br>
        Email<input type="email"name="email" value="{{ details.email}}"><br><br>
        UserName <input type="text"name="uname" value="{{ details.username}}" ><br><br>
        Phone <input type="number"name="ph" value="{{ details.phone}}"><br><br>
        Department<input type="text"name="dept" value="{{ details.department}}"><br><br>
        Password<input type="password"name="psw" value="{{ details.password}}"><br><br>
        <br><br><br><br>
        <input type="submit"value="Update">

    </form>
    <br><br><br>
    <a href="{% url 'student_homepage' %}">Back Home</a>
</body>
</html>