<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: rgb(60, 199, 245);
        }
    </style>


</head>
<body>
    <center><h1 style="font-size: xx-large;color: rgb(19, 18, 18);">Registration Page</h1></center>
    <br>
    <br>
    <br>


    <a href="/student/">Student Registration</a><br>
    <br>
    <br>
    <a href="{% url 'teacher' %}">Teacher Registration</a><br>
    <br><br>
    <a href="{% url 'logins' %}">Login(for already registered users)</a><br>

    
        
  
        
    
</body>
</html>